@page
@model Concessionaria.Pages.ContatoModel

<section>
    <h2>Entre em Contato</h2>
    <p>Estamos ansiosos para ouvir de você. Entre em contato conosco para obter mais informações ou esclarecer dúvidas.</p>

    <h3>Informações de Contato</h3>
    <p><strong>Email:</strong> contato@zcar.com</p>
    <p><strong>Telefone:</strong> (11) 1234-5678</p>

    <h3>Visite-nos</h3>
    <p><strong>Endereço:</strong> Rua Automotiva, 1234</p>
    <p><strong>Cidade:</strong> Cidade Automóvel</p>
    <p><strong>CEP:</strong> 12345-678</p>

    <h3>Horário de Funcionamento</h3>
    <p>Segunda a Sexta: 09:00 - 18:00</p>
    <p>Sábado: 10:00 - 15:00</p>

    <p>Estamos ansiosos para recebê-lo na ZCar!</p>
</section>