@page
@model PrivacyModel
@{
    ViewData["Title"] = "Política de Privacidade";
}
<h1>@ViewData["Title"]</h1>

<main>
    <br>
    <section id="informacoes-coletadas">
        <h2>Informações Coletadas</h2>
        <p>Nós, da Concessionária ZCar, podemos coletar diversas informações, como:</p>
        <ul>
            <li>Informações de contato (nome, endereço de e-mail, número de telefone)</li>
            <li>Informações demográficas (idade, sexo, localização)</li>
            <li>Preferências de veículos e interesses relacionados</li>
        </ul>
    </section>

    <section id="uso-das-informacoes">
        <h2>Uso das Informações</h2>
        <p>As informações coletadas podem ser usadas para:</p>
        <ul>
            <li>Enviar atualizações sobre ofertas, promoções e serviços</li>
            <li>Personalizar a experiência do usuário no site</li>
            <li>Realizar análises para melhorar nossos serviços e produtos</li>
        </ul>
    </section>

    <section id="cookies">
        <h2>Cookies</h2>
        <p>Utilizamos cookies para melhorar a experiência do usuário. Ao utilizar nosso site, você concorda com o uso de cookies de acordo com nossa <a href="#politica-cookies">Política de Cookies</a>.</p>
    </section>

    <section id="seguranca">
        <h2>Segurança</h2>
        <p>Nós nos comprometemos a garantir a segurança das informações fornecidas. Utilizamos medidas de segurança para proteger contra acesso não autorizado ou divulgação.</p>
    </section>
</main>
